<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Все объявления</title>
    </head>
    <body>
    {% block content %}
    {% if post_list %}
    {% for post in post_list %}
        <p><h2>{{ post.title }}</h2></p>
        <hr>
        <p>{{ post.body|safe }}</p>
        <p>Создано: {{ post.user }} в категории {{ post.category }}</p>
        <hr>
    {% endfor %}
    {% else %}
        Объявлений нет
    {% endif %}
    {% endblock content %}
    </body>
</html>
